<launch>

<include file="$(find mynteye_wrapper_d)/launch/mynteye.launch"/>

<!--node name="feature_tracker_node" pkg="feature_tracker" type="feature_tracker_node"/-->
 <node pkg = "nodelet" name = "nodelet_manager" type = "nodelet" args = "manager" output = "screen"/>
 <node pkg = "nodelet" type = "nodelet" name = "FeatureTrackerNodelet" args = "load feature_tracker/FeatureTrackerNodelet nodelet_manager" output = "screen">
 </node>

 <node name="rviz" pkg="rviz" type="rviz" args="-d $(find feature_tracker)/rviz/feature_tracker.rviz"/>

</launch>